.column {
    flex: 1;
    padding: 16px;
    float: left;
    bottom: 0px;
    right: 0;
    left: 0;
    border: dashed 1px red;
    text-align: center;
}

.row {
    display: flex;
    width: 100%;
}

.inner {
    vertical-align: bottom;
}
